<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.notechigima.repository.NoteRepository">

    <select id="getNoteDetail" resultType="com.capstone.notechigima.model.dao.note.NoteDetailEntity">
        SELECT n.note_id noteId, n.owner_id ownerId, n.section_id sectionId, n.status status,
               n.analyzed analyzed, n.created_at createdAt, n.updated_at updatedAt,
               u.nickname ownerName,
               sc.title sectionName, sc.subject_id subjectId, sj.name subjectName
        FROM note n
        LEFT JOIN user u ON n.owner_id = u.user_id
        LEFT JOIN section sc ON n.section_id = sc.section_id
        LEFT JOIN subject sj ON sc.subject_id = sj.subject_id
        WHERE #{noteId} = n.note_id;
    </select>

    <insert id="insertNote" parameterType="com.capstone.notechigima.model.dao.note.NoteInsertEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO note (owner_id, section_id)
        VALUES(#{ownerId}, #{sectionId})
    </insert>

    <select id="getNoteList" resultType="com.capstone.notechigima.model.dao.note.NoteOwnerEntity">
        SELECT n.note_id, n.owner_id, u.nickname, n.updated_at
        FROM note n
        LEFT JOIN user u ON n.owner_id = u.user_id
        WHERE n.section_id = #{sectionId};
    </select>

</mapper>