<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.notechigima.repository.TopicRepository">

    <select id="getTopic" resultType="com.capstone.notechigima.domain.topicity">
        SELECT topic_id topicId, subject_id subjectId, title, updated_at updatedAt, analyzed
        FROM topic t
        WHERE #{topicId} = t.topic_id
    </select>

    <select id="getTopicList" resultType="com.capstone.notechigima.domain.TopicEntity">
        SELECT topic_id topicId, subject_id subjectId, title, updated_at updatedAt, analyzed
        FROM topic s
        WHERE #{subjectId} = s.subject_id
    </select>

    <update id="setTopicAnalyzed">
        UPDATE topic
        SET analyzed = #{analyzed}
        WHERE topic_id = #{topicId}
    </update>

</mapper>