<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.notechigima.repository.TopicRepository">

    <select id="getSectionList" resultType="com.capstone.notechigima.model.dao.topic.TopicEntity">
        SELECT section_id topicId, subject_id subjectId, title, updated_at updatedAt, analyzed
        FROM section s
        WHERE #{subjectId} = s.subject_id
    </select>

</mapper>