<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.notechigima.repository.UserRepository">

    <select id="getMembersByGroupId" resultType="com.capstone.notechigima.domain.usersty">
        SELECT u.user_id userId, u.email email, u.nickname nickname
        FROM group_member m
        LEFT JOIN user u USING (user_id)
        WHERE m.group_id = #{groupId}
    </select>

</mapper>